<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home Page</title>
      </head>
      <body>
        <h1>Welcome to the BookStore!</h1>

        <% if (user) { %>
        <p>You are logged in as <%= user.nickname || user.name %></p>

        <p>Go to your Profile: <a href="/profile">Profile</a></p>

        <p><a href="/logout">Logout</a></p>

        <% } else { %>
        <p>You are not logged in.</p>
        <p>
          <a href="/login">Login</a>
        </p>
        <% } %>
      </body>
    </html>
  </body>
</html>
